
.board_row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.selected {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.win {
  background-color: #105599;
  color: #fff;
  border-color: #105599
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game_info {
  margin-left: 20px;
}

.board {
  width: 99px;
}

.game_board {
  width: 297px;
  margin: 0 auto;
}

.game_board button{
  width: 100px;
  height: 100px;
}

.moves {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  padding-left: 0;
  list-style-type: none;
  height: 150px;
}

.moves li {
  margin-right: 24px;
}

.scrollableY {
  overflow-y: scroll;
}