
.game {
  display: flex;
  flex-direction: column;
}

.form {
  min-height: 22px;
  height: 5vh;
  height: calc(var(--vh, 1vh) * 5);  
}

.main {
  height: 55vh;
  height: calc(var(--vh, 1vh) * 55);  
}

.main_board + .title {
  display: none;
}

.main .board {
  position: relative;
  top: 50%;
  transform: translateY(-50%) var(--boardStartPos);  
}

.board {
  margin: 0 auto;
  transform: var(--boardStartPos);  
  width: var(--boardWidth);
  height: var(--boardHeight);
}

.board_row {

}

.board_row:after {
  clear: both;
  content: "";
  display: table;
}

.slot {
  background: #fff;
  border: 1px solid #999;
  float: left;
  /*font-size: var(--fontSize);*/
  font-weight: bold;
  color: #333;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: var(--slotSize);
  width: var(--slotSize);

}

/*.slot.filled {

}*/

.slot:focus {
  outline: none;
}

.slotContent {
  margin: 0 auto;
  height: calc(var(--slotSize) * 0.8);
  width: calc(var(--slotSize) * 0.8);  
  position: relative;
  transform: translate(0,var(--slotStartPos));
  border-radius: 50%;
}

.slotContentX {
  background-color: red;
}
.slotContentO {
  background-color: yellow;
}

.win {
  background-color: #999;
}

.win .slotContent {
  animation-duration: .4s;
  animation-name: scaleAnim;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.game_info {
  /*height: 20vh;*/
  /*min-height: 100px;*/

}

.title {
  margin: 5px 0;
  font-size: var(--fontSize);
}

.controls {
  height: 5vh;
  height: calc(var(--vh, 1vh) * 5);
}

.status {
  height: 5vh;
  height: calc(var(--vh, 1vh) * 5);
}

.moves {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0;
  list-style-type: none;
}

.moves li {
  margin-right: 24px;
}

.highlighted {
  color: #fff;
  background: rgb(252,157,20);
  background: linear-gradient(9deg, rgba(252,157,20,1) 6%, rgba(217,62,10,1) 80%);
  box-shadow: 0 0 10px rgba(234,110,15,0.6);
}

.selected {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/*.win {
  background-color: #105599;
  color: #fff;
  border-color: #105599
}*/

.kbd-navigation .slot:focus {
  background: #ddd;
}

.scrollableY {
  overflow-y: scroll;
  height: 20vh;
  height: calc(var(--vh, 1vh) * 20);  
}

.flipR .board_row{
  float: left;
}
.flipR .slot{
  display: block;
  float: none;
}

/*////////// ANIMATIONS ////////////*/

@keyframes scaleAnim {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

/*////////// GAME TRANSITIONS ////////////*/
/* Rethink the gravity movement with transform, and use transform(--var(a),--var(b)) to input the correct direction*/


.animate.main_board.flip {
  transform: translateY(-50%) rotateZ(0deg);
  transition: 0.8s transform ease;  
}
.animate.flip {
  transform: rotateZ(0deg);
  transition: 0.8s transform ease;  
}
.animate.fall {
  transform: translate(0,0);
  transition-duration: var(--speed);
  transition-property: transform; 
  transition-timing-function: cubic-bezier(.14,0,.27,0);
  /*transition-delay: 1s;*/
}