
/* GENERAL LAYOUT STYLES*/
.logo {
  color: #ff8882;
  font-family: 'Cairo', sans-serif;
  font-size: 22.8px;
  margin: 0;
  min-width: 174px;
  /*min-width: 243px;*/
  text-align: center;
}

.logo:before {
  content: "";
  display: block;
  width: 92%;
  height: 18px;
  position: relative;
  margin-top: -18px;
  top: 25px;
  background-color: rgba(255,181,143,0.2);
}

.pseudo {
  line-height: 33px;
  color: #FF75E7;
}

.App-header {
  height: 8vh;
  height: calc(var(--vh, 1vh) * 8);
  min-height: 44px;
  padding: 0 15vw 0 16.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  background-color: white;
  margin-bottom: 1vh;
  margin-bottom: calc(var(--vh, 1vh) * 1);
  box-sizing: border-box;
  border-bottom: 1px solid #ff75e833;
  box-shadow: 0px calc(var(--vh, 1vh) * 0.5) calc(var(--vh, 1vh)) 0px #ff75e81a;
}
  .nav-items {
    display: flex;
    height: 100%;
  }
  .nav-items > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 33px;
    font-size: 0.67em;
    font-weight: 700;    
  }

  .nav-items button {
    margin-left: 2vw;
    border: 2px solid #69FFF7;
    background-color: #69FFF7;
    line-height: 1em;
    color: #fff;
    transition: background-color 0.35s ease;
  }
  .nav-items button:not(.selected):hover {
    cursor: pointer;
  }

  .nav-items button:not([name="i"]) {
    text-transform: uppercase;
  }

  .nav-items button:not(.selected):hover {
    background-color: #FFF;
    color: #69FFF7;
  }
  .nav-items button[name].selected {
    border-color: #f0f0f0;
    background-color: #f0f0f0;
  }
  .nav-items button[name="i"] {
    width: 21px;
    height: 21px;
    border-radius: 50%;
  }


/* //////// PAGE: INFOS //////// */
.infosPage {
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
}
.infosPage * {
  margin-bottom: 0;
}
.infosPage h2 {
  color: #ff8882;
  line-height: 1.5em;
  margin-bottom: 0.5em;  
}
.infosPage h3, .infos h4 {
  color: #444;
}

.infos *:not(h2):not(li) {
  text-align: left;
  list-style-type: none;
}
.infos * {
  margin-top: 0;
}
  .infos li:before {
    content: "\25B6";
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 0.4em;
    color: #FF75E7; 
  }
  .infos h3 {
    color: #FFBC4F;
  }  

  .infos *:not(h3) + h4 {
    margin-top: 15px;
  }


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media (max-width: 1140px) {
  .App-header {
    padding: 0 3vw 0 4.5vw;
  }
}

@media (max-width: 500px) {
  .connexionBox .logo {
    font-size: 33.8px;
    min-width: 253px;
  }
  .connexionBox .logo:before {
    height: 27px;
    margin-top: -27px;
    top: 37px;
  }  
  .logo {
    font-size: 18.8px;
    min-width: 142px;
  }
  .logo:before {
    height: 14px;
    margin-top: -14px;
    top: 20px;
  }
}

@media (max-width: 330px) {
  .logo {
    font-size: 11px;
    min-width: 87px;
  }
  .logo:before {
    height: 10px;
    margin-top: -10px;
    top: 12px;
  }
}