/* GENERAL SITE STYLES*/
@font-face {
  font-family: "Cairo";
  src: local('Cairo'), url(./fonts/Cairo-ExtraLight.ttf) format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: "Cairo";
  src: local('Cairo'), url(./fonts/Cairo-Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: "Cairo";
  src: local('Cairo'), url(./fonts/Cairo-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: "Cairo";
  src: local('Cairo'), url(./fonts/Cairo-SemiBold.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: "Cairo";
  src: local('Cairo'), url(./fonts/Cairo-Bold.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: "Cairo";
  src: local('Cairo'), url(./fonts/Cairo-Black.ttf) format('truetype');
  font-weight: 900;
}
body, form *, button {
  font: 0.95em "Cairo", Futura, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:focus-visible {
  outline: none;
}

form * {
  line-height: 20px;
  font-size: 0.95em;
}

.form {
  display: flex;
  justify-content: center;
  min-height: 20px;
  height: 5vh;
  height: calc(var(--vh, 1vh) * 3.5);
  margin-bottom: calc(var(--vh, 1vh));
  margin-left: 22px;
}
  .form * {
    height: 20px;
    border: none;
    margin-right: 10px;
  } 
  .form span {
    margin-top: 0;
    color: #ff8882;
  }
  .form input {
    width: 75px;
    outline: none;
    border-radius: 1%;
  }
  .form input:focus {
    outline: 1px solid #FFB58F;
  }  
  .form button {
    width: 0;
    height: 0;
    padding: 0;
    border: 11px solid transparent;
    border-left: 19px solid #ff8882;
    background-color: transparent;
    transition: all .6s ease;
  }
  .form button:hover {
    cursor: pointer;
    transform: translateX(8px) scale(1.2);
    border-left-color: rgba(117,255,248, 1);  
  }

/* //////// PAGE: CONNEXION //////// */
.connexionBox {
  margin: 30px auto 0;
  width: 50vw;
  min-width: calc(280px - 10vw);
}

.connexionBox p + p {
  color: #ff8882;
}

.connexionBox .App-header {
  justify-content: center;
  box-shadow: none;
  border: none;
}
.connexionBox .logo {
  font-size: 44px;
  min-width: 330px;
}
.connexionBox .logo:before {
  height: 34px;
  margin-top: -34px;
  top: 48px;
}
.connexion {
  margin-top: 1.8em;
}
  .connexion input {
    width: 100px;
  }

  .connexion input, .connexion input:focus {
    outline: 3px solid #69FFF7;  
  }